<!DOCTYPE html>
{% load static %}
<html lang="ru" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DevOpsInfo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="container header">
    <nav>
        <ul>
            <li><img src="{% static 'img/logo.svg' %}" alt="alt" class="logo"></li>
        </ul>
        <ul>
            <li><strong><h1>DevOpsInfo</h1>
            </strong></li>
        </ul>
        <ul>
            <li>
            </li>
        </ul>
    </nav>
</header>

<main class="container">
    <div class="grid">
        <aside>
            <nav class="col col-lg-2">
                <ul>
                    <li><a href="{% url 'main' %}">Главная</a></li>
                    <li><a href="{% url 'demand' %}">Востребованность</a></li>
                    <li><a href="{% url 'geography' %}">География</a></li>
                    <li><a href="{% url 'skills' %}">Навыки</a></li>
                    <li><a href="{% url 'recent_vacancies' %}">Последние вакансии</a></li>
                </ul>
            </nav>
        </aside>
        <section class="main-content">
            <hgroup>
                <h2>Добро пожаловать</h2>
            </hgroup>
            <figure>
                <img src="{% static "img/devops_illustration.png" %}" alt="Основное изображение"/>
            </figure>
            <p>Профессия DevOps (сокращение от Development и Operations) представляет собой современный подход к
                разработке программного обеспечения, который объединяет разработку (Dev) и операционную деятельность
                (Ops). Основная цель DevOps - улучшить сотрудничество между разработчиками и специалистами по
                эксплуатации, чтобы ускорить процесс разработки и обеспечить более эффективное и надежное программное
                обеспечение</p>
            <h3>Основные задачи DevOps-инженера:</h3>
            <ul>
                <li>
                    Автоматизация процессов: DevOps инженеры стремятся автоматизировать рутинные задачи, такие как развертывание кода, мониторинг систем, настройка инфраструктуры и тестирование. Это уменьшает вероятность ошибок, повышает эффективность процессов и сокращает время на разработку и внедрение новых функций.
                </li>
                <li>
                    Непрерывная интеграция и доставка (CI/CD): Одна из ключевых практик DevOps, заключающаяся в автоматическом тестировании и развертывании кода в производственную среду с целью обеспечить более быстрый и надежный процесс разработки.
                </li>
                <li>
                    Управление "инфраструктурой как код" (IaaC): Применение практик программирования для управления инфраструктурой, позволяя разработчикам и системным администраторам автоматически управлять и настраивать сервера.
                </li>
                <li>
                    Мониторинг и логирование: Настройка систем мониторинга и логирования для обеспечения видимости и понимания работы приложений и инфраструктуры в реальном времени.
                </li>
            </ul>
            <h3>Инструменты и технологии:</h3>
            <ul>
                <li>Jenkins, GitLab CI, Travis CI для непрерывной интеграции и доставки.</li>
                <li>Docker, Kubernetes для контейнеризации и оркестрации.</li>
                <li>Ansible, Chef, Puppet для управления конфигурациями и автоматизации инфраструктуры.</li>
                <li>Prometheus, Grafana, ELK Stack для мониторинга и логирования.</li>
                <li>Terraform, CloudFormation для управления IaaC.</li>
            </ul>
        </section>
    </div>
</main>

<footer class="container">
    <p>Черкасов Александр Ильич</p>
    <p>РИ-220946 <> АТ-31</p>
</footer>
</body>
</html>
